wifi_ssid: 'SSID'
wifi_password: 'pass'

ap_ssid: 'Petkit T4'
ap_password: 'petkit'

ota_password: 'secret'

api_encryption_key: ""  # Generate here: https://esphome.io/components/api/#configuration-variables
